<% provide(:title, 'Contact') %>
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Contact us!</h1>
        <p>Do you have any Questions and/or Problems?</p>
	<p> Feel free to contact our Project Team at
	<a href="Hier könnte jemand seine Mailadresse einfügen wenn er Bock hat ">DerMisstdenihrunsschicktwirdehnichtgelesen@Datenschredder.to</a>
</p>

        
      </div>
    </div>

