<% provide(:title, "Help") %>
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Need Help?</h1>
        <p>The following Guide will help you through the first steps of Using Feedalligator</p>
<h3> Step one</h3>
<p><%= link_to "Sign Up", signup_path, class: 'btn btn-primary btn-lg' %></p>
<img src="http://www.sfb600-online.uni-trier.de/hilfe/bilder-fuer-hilfe/bilder-bibliographie/platzhalter.jpg/image_preview" alt="SignUpBild" class="img-responsive" >
<h3> Step two </h3>
<p> Hier eintragen</p>
<img src="http://www.sfb600-online.uni-trier.de/hilfe/bilder-fuer-hilfe/bilder-bibliographie/platzhalter.jpg/image_preview" alt="SignUpBild">

<h3> Step three </h3>
<p> Hier eintragen</p>
<img src="http://www.sfb600-online.uni-trier.de/hilfe/bilder-fuer-hilfe/bilder-bibliographie/platzhalter.jpg/image_preview" alt="SignUpBild">
<h3> Step four </h3>
<p>You are done! Great Job!</p>
        
      </div>
    </div>

 



