<div class="container">
	<%= render partial: 'shared/entry_search', locals: { path: entries_path } %>
	<div id="entries"><%= render partial: 'shared/feed_entry_grid_layout', locals: { entry_list: @entries } %></div>
	<%= will_paginate @entries %>
</div>