<div class="container" id="entries">
<% entry_list.each_with_index do |entry, index| %>
	<% if index % 3 == 0 %>
		<div class="row">
	<% end %>
	<%= render partial: 'entries/entry', locals: { entry: entry } %>
	<% if index % 3 == 2 %>
		</div>
	<% end %>
  <% end %>
</div>