.sidebar-btn {
	color: #fffff;
	background-color: #8AA0B3;
	border-color: #8AA0B3;
	/*inactive 99B4CC*/
	/*active */
}

.sidebar-btn:active {
	color: #fffff;
	background-color: #3784C7;
}

.sidebar-btn:hover {
	color: #fffff;
	background-color: #fffff;
}