<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<div class="btn-group-vertical btn-group-md" >
			<% APP_CATEGORIES.each do |category, value| %>
				<label class="btn btn-primary sidebar-btn">
					<li><%= link_to category.capitalize, dashboard_path(search: category) %></li>
				</label>
			<% end %>		
		</div>  
	</ul>
</div>
