<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
	
		<!-- Gravatar snippet <percentequals #image_tag gravatar_url("you@youremail.com", 64), alt: "" %> -->
	
		<div class="btn-group-vertical btn-group-md" data-toggle="buttons">
			<label class="btn btn-primary sidebar-btn">
				<input type="checkbox" autocomplete="off"> Politics
			</label>
			<label class="btn btn-primary sidebar-btn">
				<input type="checkbox" autocomplete="off"> Culture
			</label>
			<label class="btn btn-primary sidebar-btn">
				<input type="checkbox" autocomplete="off"> Literature
			</label>
			<label class="btn btn-primary sidebar-btn">
				<input type="checkbox" autocomplete="off"> Sports
			</label>
			<label class="btn btn-primary sidebar-btn">
				<input type="checkbox" autocomplete="off"> Local news
			</label>
			<label class="btn btn-primary sidebar-btn">
				<input type="checkbox" autocomplete="off"> Economy
			</label>
			<label class="btn btn-primary sidebar-btn">
				<input type="checkbox" autocomplete="off"> Finance
			</label>
			<label class="btn btn-primary sidebar-btn">
				<input type="checkbox" autocomplete="off"> Technology
			</label>
			<label class="btn btn-primary sidebar-btn">
				<input type="checkbox" autocomplete="off"> Science
			</label>
			<label class="btn btn-primary sidebar-btn">
				<input type="checkbox" autocomplete="off"> Film
			</label>
			<label class="btn btn-primary sidebar-btn">
				<input type="checkbox" autocomplete="off"> Gossip
			</label>
		</div>
	</ul>
</div>